iframe[src*="youtube.com"] {
  width: 100%;
  max-width: 800px;
  margin: auto;
  aspect-ratio: 16 / 9;
}

.next-prev-nav {
  text-wrap: balance;
}

.next-prev-nav>div {
  display: inline-block;
  margin-top: 1em;
}

.next-prev-nav> :last-child {
  margin-left: 2em;
  text-align: right;
  float: right;
}
