iframe[src*="youtube.com"] {
  width: 100%;
  max-width: 800px;
  margin: auto;
  aspect-ratio: 16 / 9;
}

.next-prev-nav {
  text-wrap: balance;
}

.next-prev-nav>div {
  display: inline-block;
  margin-top: 1em;
}

.next-prev-nav> :last-child {
  margin-left: 2em;
  text-align: right;
  float: right;
}

.tag-div {
    border-radius: 1rem;
    border: 1px solid;
    display: inline-block;
    margin: .125rem;
}
.tag-div div {
    padding: .125rem .25rem;
    display: inline-block;
}
.tag-div div:not(:first-child) {
    border-left: 1px solid;
}
