---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}</p>
      {%- include series_panel.html -%}

  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  <style>

    .tag-div {
      border-radius: 1em;
      /* background-color: gray; */
      border: 1px solid;
      display: inline-block;
      padding: .125em .25em;
      margin: .125em;
      /* text-transform: uppercase; */
      /* font-style: italic; */
      /* font-size: smaller; */
    }

  </style>

  <div style="font-size: smaller; margin: 1em 0;">
    {%- if page.tags -%}
    {% assign sorted_tags = page.tags | sort %}
    <div class="tag-nav">
      Tags:
      {%- for tag in sorted_tags -%}
      <a href="{{ '/tag/'' | append: tag | relative_url }}"><div class="tag-div">
        {{tag}}
      </div></a>
      {%- endfor -%}
    </div>
    {%- endif -%}
  </div>

  <hr />

  <div class="next-prev-nav">
    <div>
      {%- if page.previous -%}
      <a href="{{page.previous.url | relative_url}}">
        &lArr; {{ page.previous.title }}
      </a>
      {%- endif - %}
    </div>

    <div>
      {%- if page.next -%}
      <a href="{{page.next.url | relative_url}}">
        {{ page.next.title }} &rArr;
      </a>
      {%- endif - %}
    </div>
  </div>


  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
